# ==========================================
# BINARI DEL PROGRAMMA
# (compilati da gcc, make o simili)
direttore
ticket
operatore
utente
add_users
*.txt
# File oggetto C/C++
*.o

# ==========================================
# FILE DI OUTPUT
# CSV generati, log, report, debug
*.csv
*.log

# File temporanei e di backup
*.tmp
*~

# Swap files di editor (vim, nano, etc)
*.swp

# ==========================================
# FILE DI CONFIG DEGLI IDE
.vscode/
.idea/

# File di progetti Eclipse / JetBrains
*.iml
.classpath
.project
.settings/

